@font-face{
	font-family: "fuenteLinda";
	src: url("fonts/DynaPuff-VariableFont_wdth\,wght.ttf");
}
body{
    background-color: #3a8a16;
}

h1{
    color: aliceblue;
}

img{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.texto{
    width: 100%;
    background-color: crimson;
    text-align: center; 
}
.grupo-fotos{
    background-color: #261a43;
}

.foto{
    background-color: black;
    width: 30%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}
/*---button---*/

.myButton {
	box-shadow: 3px 3px 0px 0px #3dc21b;
	background-color:#44c767;
	border-radius:20px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:17px;
	font-weight:bold;
	font-style:italic;
	padding:11px 29px;
	text-decoration:none;
	text-shadow:4px 1px 2px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}